/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #b5b2d3;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Contenedor Sección Menu*/

.menu {
    background-color: white;
    display: flex;
    width: fixed;
    flex-direction: row;
    gap: 30px;
    padding: 0 32px 0 32px;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

/*icono y nombre*/
.menu__header {
    display: flex;
    align-items: center;
    gap: 12px;
}

/*Contenedor seccion de navegacion info personal*/
.menu__list {
    display: flex;
    gap: 32px;
    align-content: flex-end;
}

/*correo electronico*/
.menu__list__item__contato {
    display: flex;
    font-weight: 700;
}


/*Sección Title*/
.title__div {
    background-color: #f5f5f5;
    display: flex;
    width: fixed;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 32px 10px 32px;
}


.title__profile {
    width: 368px;
    height: 368px;
    gap: 25px;
}

div.title__container {
    display: flex;
    flex-direction: column;
    width: 754px;
    height: 246px;
}

.title__bio {
    display: flex;
    font-size: 40px;
    font-weight: 700;
}

.title__subsection {
    display: flex;
    font-size: 22px;
    font-weight: 400;
}

.title__network {
    display: flex;
    gap: 32px;
}

/*Sección About
    background-color: #EAF2FD;
    display: flex;
    align-items: center;
    padding: 64px;
    gap: 10px;*/

section.about {
    background-color: #eaf2fd;
    display: flex;
    padding: 64px;
    align-items: center;

}

.about__container {
    display: flex;
    align-content: center;
    flex-direction: column;
    color: #464646;
    width: 754px;
    height: 246px;
}

.about__title {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 0;
    font-size: 32px;
    font-weight: 700px;
    line-height: 37.57px;
}

.about__paragraph {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

.firma {
    display: flex;
    width: 140px;
    height: 52px;
}

/*Seccion de skils*/

section.skills {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

/*titulo skill*/
h3.skills__title {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.58px;
    align-self: center;
    color: #464646;
}

/* linea de skills */
.skills__line {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.skills__box {
    background-color: #ffffff;
    display: flex;
    align-items: end;
    width: 176px;
    height: 174px;
    gap: 8px;
    margin-bottom: 32px;
}

.skills__img {
    display: flex;
    margin-bottom: 5px;
}

.skills__name {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

/*Sección Hobbies*/
section.hobbies {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

h3.hobbies__title {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.58px;
    align-self: center;
    color: #464646;
}

.hobbies__line {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hobbies__box {
    background-color: #ffffff;
    display: flex;
    align-items: end;
    width: 176px;
    height: 174px;
    gap: 8px;
    margin-bottom: 32px;
}

.hobbies__img {
    display: flex;
    margin-bottom: 5px;
}

.hobbies__name {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

/* Experiencia Académica*/
/* titulo de seccion */
section.academic {
    display: flex;
    flex-direction: column;
    background-color: #eaf2fd;
    width: auto;
    height: 500px;
    padding: 46px;
    gap: 16px;
}

.academic__title {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    align-self: center;
    color: #464646;
}

/* contenedor */
.academic__courses {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 16px;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
}

.academic__courses__box {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 368px;
    height: 347px;
    padding-top: 10px;
}

.image {
    display: flex;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.academic__courses__item__title {
    display: flex;
    width: 257px;
    height: 26px;
}

.academic__courses__item__subtitle {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 19px;
}
.__fad{
    display: flex;
    padding-top: 50px;
}

._fad{
    display: flex;
    padding-top: 30px;
}

/* experiencia*/

section.experience {
    background-color: #eaf2fd;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.experience__section__title{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.58px;
    align-self: center;
    color: #464646;
}

.experiencie__box{
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.experience__img{
    display: flex;
}

.experience__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
}

.experience__title{
    color: #464646;
    font-size: 22px;
    /* font-weight: 700; */
    /* line-height: 25.83px; */
}

.experience__text{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: #464646;
    /* line-height: 18.78; */
}

.experiencia__botao--repo{
    padding: 16px;
    gap: 10px;
    color: #2a7ae4;
    font-size: 16px;
    font-weight: 400;
}

.experience__botao--demo{
    border: 1px solid #2a7ae4;
    background-color: #2a7ae4;
    padding: 16px;
    gap: 10px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

/*Contacto*/

.formcontato__contacto{
    border: 2px solid red;
    display: flex;
    justify-content: center;
}

/*footeer*/

/* section.footer {} */

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

    /* Menú */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}